body, html {
    margin: 0;
    font-family: sans-serif;
    color: rgb(60, 60, 60);
}

#wrapper {
    margin: 0 auto;
    max-width: 1050px;
    width: 90%;
}

a.button {
    display: flex;
    background-color: rgb(255, 100, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
    box-sizing: border-box;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: 0;
    align-items: center;
    height: 100%;
}

article.article-card {
    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background-color: rgb(240,240,240);
}

article.article-card h3 {
    margin: 5px 0;
}

article.article-card h4 {
    margin: 0;
    font-weight: 500;

}

article.article-card div:nth-child(1) {
    flex: 4;
}

article.article-card div:nth-child(2) {
    justify-content: center;
    align-items: flex-start;
}

p {
    line-height: 2;
}

code {
    padding: 4px;
    background-color: #121212;
    color: white;
}